@import "../../scss/colorVariables";

.list-users {
  .container {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .card {
    border-radius: 24px;
    border: none;
    padding: 24px;
    box-shadow: 2px 4px 15px 0px rgba(245, 245, 245, 0.8);
  }
}
