@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import "../../scss/colorVariables";

.navbar {
  background-color: $white;
  min-height: 80px;
  .dropdown-menu {
    min-width: 100px;
    .dropdown-item {
      color: $indigo;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
