@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import "./colorVariables";

html {
  scroll-behavior: smooth;
}
body {
  background-color: $soft-blue;
}
h1 {
  color: $indigo;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media screen and (max-width: 767px) {
    font-size: 32px;
    text-align: center;
  }
}
h2 {
  color: $indigo;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h3 {
  color: $indigo;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: $black;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-group {
  .form-label {
    color: $dark-grey;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .form-control {
    height: 40px;
    color: $dark-grey;
    border-color: $dark-grey;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.btn {
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

thead {
  th {
    color: $black !important;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

tbody {
  td {
    vertical-align: middle;
    color: $black !important;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
